body {
  font-family: system-ui;
  background: #f06d06;
  color: white;
  text-align: center;
  text-size: 60px;
}

#button1 {
  display:inline;
  text-align: left;
  left: 10px;
  margin: 0px;
}

#image {
  display:none;
  width: 40%;
  height: 40%;
}
